.form-for-record{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1em;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    background-color: #AFFFF5;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #55FFEF;
    border-radius: 4px;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #55FFEF;
    background-image: url('../svg/MainForm/check.svg');
    background-repeat: no-repeat;
    background-position: center;
}

input, textarea, select{
    display: block;
    background-color: #55FFEF;
    border-style: solid;
    border-color: black;
    border-radius: 0.5em;
    padding: 0.5em;
}

.input-record-content{
    width: 15em;
    height: 10em;
    overflow-y: auto;
    resize: none;
}

.p-selected-day{
    font-weight: bolder;
    font-family: 'Tahoma';
}